body{
    margin: 20px;

}
h1{
    color:rgb(0, 132, 255);

}

#changeColor{
    background-color: rgb(29, 172, 0);
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    color: white;
    border-color: white;
    border-radius: 5px;
}